@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  --bg-color: #000;
  font-size: 16px;
  --text-color: #fff;
  --hover-color: rgb(247, 30, 30);
  box-sizing: border-box;
  cursor: none;
}

html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: var(--bg-color);
}
#app .mouse {
  position: absolute;
  border: none;
  outline: none;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: rgba(255, 0, 0, 0.466);
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  z-index: 100;
  transform: translateX(-10px) translateY(-8px);
  pointer-events: none;
  border: solid 1px var(--text-color);
}
#app .navbar,
#app footer {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  justify-content: space-between;
  height: 10%;
  color: var(--text-color);
}
#app .navbar .inner-nav,
#app .navbar .inner-footer,
#app footer .inner-nav,
#app footer .inner-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 50%;
}
#app .navbar .date,
#app .navbar .time,
#app footer .date,
#app footer .time {
  font-size: 0.85rem;
  font-weight: 200;
}
#app .navbar .mobile-date,
#app footer .mobile-date {
  display: none;
  font-size: 0.85rem;
  font-weight: 200;
}
#app .inner-nav-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#app .inner-nav-2 .country {
  font-size: 0.85rem;
  color: var(--text-color);
  font-weight: 200;
}
#app .navbar {
  border-bottom: solid 1px var(--text-color);
}
#app main {
  height: 80%;
  width: 100%;
  display: flex;
}
#app main > * {
  color: var(--text-color);
}
#app main .inner-main {
  width: 90%;
  height: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
}
#app main .inner-main .sections {
  display: flex;
  overflow: hidden;
  height: 100%;
  scroll-snap-type: x mandatory;
}
#app main .inner-main .sections::-webkit-scrollbar {
  display: none;
}
#app main .inner-main .sections section {
  display: block;
  width: 100%;
  flex-shrink: 0;
  height: 100%;
  scroll-snap-align: start;
}
#app main .inner-main .sections .section-1 {
  padding: 2rem 4rem;
  border-bottom: solid 1px var(--text-color);
}
#app main .inner-main .sections .section-1 .recent {
  font-size: 0.85rem;
  font-weight: 200;
  display: none;
  color: #b3b3b3;
}
#app main .inner-main .sections .section-1 .name {
  font-size: 8rem;
  font-weight: 700;
}
#app main .inner-main .sections .section-1 .first-names {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  padding-right: 1rem;
}
#app main .inner-main .sections .section-1 .first-names .first-name-1 {
  transform-origin: bottom;
  display: inline-block;
}
#app main .inner-main .sections .section-1 .first-names .first-name-1 .hov-split {
  display: inline-block;
  transform: scaleY();
  transform-origin: inherit;
}
#app main .inner-main .sections .section-1 .first-names .first-name-2 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 4;
  transform-origin: top;
  height: 100%;
  display: inline-block;
}
#app main .inner-main .sections .section-1 .first-names .first-name-2 .hov-split {
  transform-origin: inherit;
  font-size: inherit;
  transform: rotateX(90deg);
}
#app main .inner-main .sections .section-1 .hov-split {
  display: inline-block;
  font-size: inherit;
  transition: linear 0.3s;
}
#app main .inner-main .sections .section-1 .hov-split:hover {
  color: var(--hover-color);
}
#app main .inner-main .sections .section-1 .role {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  color: #cccccc;
  font-weight: 300;
}
#app main .inner-main .sections .section-1 .bio {
  font-weight: 200;
  width: 70%;
  font-size: 0.85rem;
}
#app main .inner-main .sections .section-2 {
  display: flex;
  align-items: center;
}
#app main .inner-main .sections .section-2 .inner-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#app main .inner-main .sections .section-2 .inner-section .recent {
  margin-top: 1rem;
  margin-left: 4rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: #b3b3b3;
}
#app main .inner-main .sections .section-2 .inner-section .work {
  display: flex;
  align-items: center;
  text-decoration: none;
  position: relative;
  transition: linear 0.3s;
  border-bottom: solid 1px var(--text-color);
}
#app main .inner-main .sections .section-2 .inner-section .work::before {
  content: " ";
  display: block;
  height: 1px;
  position: absolute;
  background-color: var(--hover-color);
  top: 100%;
  width: 100%;
  z-index: 20;
  transition: linear 0.8s;
  transform: scale(0);
  transform-origin: left;
  box-shadow: 0 0 10px var(--hover-color);
}
#app main .inner-main .sections .section-2 .inner-section .work:hover::before {
  transform: scale(1);
}
#app main .inner-main .sections .section-2 .inner-section .work:hover > p {
  text-decoration: line-through;
  color: var(--hover-color);
}
#app main .inner-main .sections .section-2 .inner-section .work:hover .work-details {
  opacity: 1;
}
#app main .inner-main .sections .section-2 .inner-section .work p {
  padding: 1rem 4rem;
  width: fit-content;
  width: -moz-fit-content;
  width: -webkit-fit-content;
  font-size: 5rem;
  font-weight: 600;
  text-decoration: none;
  color: var(--text-color);
  flex-basis: 55%;
  transition: linear 0.3s;
}
#app main .inner-main .sections .section-2 .inner-section .work .work-details {
  opacity: 0;
  font-size: 0.85rem;
  line-height: 1.5rem;
  flex-basis: 45%;
  font-weight: 200;
  transition: linear 0.3s;
  color: var(--text-color);
}
#app main .inner-main .sections .section-2 .inner-section .work .work-details .tech {
  font-size: inherit;
  color: var(--hover-color);
  font-weight: inherit;
  text-transform: uppercase;
}
#app main .inner-main .sections .section-3 {
  position: relative;
}
#app main .inner-main .sections .section-3 .error-section {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 6;
  position: relative;
  border-bottom: solid 1px var(--text-color);
}
#app main .inner-main .sections .section-3 .error-section .inner-error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app main .inner-main .sections .section-3 .error-section .inner-error p {
  font-size: 1rem;
  font-weight: 200;
  text-transform: uppercase;
}
#app main .inner-main .sections .section-3 .error-section .inner-error .retry-btn {
  outline: none;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  font-size: 1.25rem;
  border-radius: 5px;
  font-weight: 200;
  background: none;
  color: var(--text-color);
  border: Solid 2px var(--text-color);
  transition: linear 0.3s;
  text-transform: uppercase;
}
#app main .inner-main .sections .section-3 .error-section .inner-error .retry-btn:hover {
  border-color: var(--hover-color);
  color: var(--hover-color);
}
#app main .inner-main .sections .section-3 .playlist-image {
  opacity: 0;
  display: flex;
  justify-content: center;
  height: 80%;
  width: 80%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: grayscale(25%);
  z-index: 1;
  pointer-events: none;
}
#app main .inner-main .sections .section-3 .playlist-image img {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  filter: grayscale(40%);
  justify-self: center;
}
#app main .inner-main .sections .section-3 .inner-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 6;
  position: relative;
}
#app main .inner-main .sections .section-3 .inner-section .headers {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  justify-content: space-between;
}
#app main .inner-main .sections .section-3 .inner-section .headers .currently {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  margin-right: 4rem;
}
#app main .inner-main .sections .section-3 .inner-section .headers .currently .refresh-btn {
  font-size: 0.85rem;
  color: red;
  background: none;
  outline: none;
  margin-left: 1rem;
}
#app main .inner-main .sections .section-3 .inner-section .headers .currently .currently-playing {
  font-weight: 200;
  font-size: 0.85rem;
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
}
#app main .inner-main .sections .section-3 .inner-section .headers .currently .currently-playing .not-playing {
  color: gray;
  text-decoration: none;
}
#app main .inner-main .sections .section-3 .inner-section .headers .currently .currently-playing > * {
  text-decoration: none;
  color: var(--text-color);
  text-transform: uppercase;
  text-decoration: underline;
  font-size: inherit;
  font-weight: 600;
  transition: linear 0.3s;
}
#app main .inner-main .sections .section-3 .inner-section .headers .currently .currently-playing > *:hover {
  color: var(--hover-color);
}
#app main .inner-main .sections .section-3 .inner-section .recent {
  margin-left: 4rem;
  font-size: 0.85rem;
  font-weight: 600;
  color: #b3b3b3;
}
#app main .inner-main .sections .section-3 .inner-section .playlist {
  display: flex;
  align-items: center;
  padding: 1rem 4rem;
  text-decoration: none;
  justify-content: center;
  text-align: center;
  position: relative;
  transition: linear 0.3s;
  border-bottom: solid 1px var(--text-color);
}
#app main .inner-main .sections .section-3 .inner-section .playlist::before {
  content: " ";
  display: block;
  height: 1px;
  position: absolute;
  background-color: var(--hover-color);
  top: 100%;
  width: 100%;
  z-index: 20;
  transition: linear 0.8s;
  transform: scale(0);
  transform-origin: center;
}
#app main .inner-main .sections .section-3 .inner-section .playlist:hover::before {
  transform: scale(1);
}
#app main .inner-main .sections .section-3 .inner-section .playlist:hover > p {
  text-decoration: line-through;
  color: var(--hover-color);
}
#app main .inner-main .sections .section-3 .inner-section .playlist:hover .work-details {
  opacity: 1;
}
#app main .inner-main .sections .section-3 .inner-section .playlist p {
  width: -moz-fit-content;
  width: fit-content;
  font-size: 4.5rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--text-color);
  flex-basis: 55%;
  transition: linear 0.3s;
  pointer-events: none;
}
#app main .inner-main .sections .section-3 .playlist:hover + .playlist-image {
  display: block;
}
#app main .inner-side {
  width: 10%;
  height: 100%;
  border-left: solid 1px var(--text-color);
  border-bottom: solid 1px var(--text-color);
}
#app main .inner-side .current-page {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
#app main .inner-side .current-page .current-page-inner {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  scroll-snap-type: y mandatory;
}
#app main .inner-side .current-page .current-page-inner::-webkit-scrollbar {
  display: none;
}
#app main .inner-side .current-page .current-page-inner .page-name {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  height: 100%;
  width: 100%;
  text-decoration: line-through;
  writing-mode: vertical-rl;
  font-size: 8rem;
  scroll-snap-align: start;
  font-weight: 700;
  color: var(--text-color);
}
#app main .inner-side .current-page .current-page-inner .page-name:hover {
  color: var(--hover-color) !important;
}
#app footer {
  display: flex;
  justify-content: space-between;
}
#app footer .inner-footer-2 {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  height: 100%;
}
#app footer .inner-footer {
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}
#app footer .inner-footer .navigation {
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}
#app footer .inner-footer .navigation .dot-info {
  font-size: 0.75rem;
  font-weight: 200;
  color: var(--text-color);
  animation: blink 2s infinite forwards ease-out;
}
#app footer .inner-footer .navigation .dot-cont {
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#app footer .inner-footer .navigation .dot-cont .nav-title {
  font-size: 0.85rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  transition: linear 0.3s;
  opacity: 0;
  color: var(--hover-color);
}
#app footer .inner-footer .navigation .dot-cont .dot {
  order: 1;
  width: 0.75rem;
  height: 0.75rem;
  border: Solid 1px var(--text-color);
  border-radius: 50%;
  transition: linear 0.3s;
}
#app footer .inner-footer .navigation .dot-cont .dot:hover {
  background-color: var(--hover-color);
}
#app footer .inner-footer .navigation .dot-cont div.active-page {
  background-color: var(--hover-color);
}
#app footer .inner-footer .navigation .dot-cont p.active-page {
  opacity: 1;
}
#app footer .inner-footer .navigation .dot-cont .dot:hover ~ .nav-title {
  opacity: 1;
}
#app footer .footer-link {
  text-decoration: none;
  font-size: 0.85rem;
  font-weight: 200;
  color: var(--text-color);
  text-decoration: none;
  transition: linear 0.3s;
}
#app footer .footer-link:hover {
  color: var(--hover-color);
}

@keyframes blink {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}
@media only screen and (max-width: 650px), (max-height: 550px) {
  html {
    height: 100% !important;
  }
  * {
    cursor: default !important;
  }
  body {
    overflow-y: auto;
    height: 100% !important;
  }
  body::-webkit-scrollbar {
    display: none;
  }
  #app {
    height: auto;
    display: block;
  }
  #app .mouse {
    display: none;
  }
  #app .navbar,
  #app footer {
    padding: 2rem 1rem;
    height: auto;
  }
  #app .inner-nav {
    width: 60% !important;
  }
  #app .date,
  #app .time {
    font-size: 0.85rem;
  }
  #app .date {
    display: none !important;
  }
  #app .mobile-date {
    display: block !important;
  }
  #app main {
    height: auto;
    width: 100%;
  }
  #app main .inner-main {
    width: 100%;
  }
  #app main .inner-main .sections {
    display: block;
  }
  #app main .inner-main .sections .section-1 {
    padding: 3rem 1rem;
  }
  #app main .inner-main .sections .section-1 .recent {
    display: block;
  }
  #app main .inner-main .sections .section-1 .name {
    font-size: 3rem !important;
  }
  #app main .inner-main .sections .section-1 .bio {
    width: 100%;
  }
  #app main .inner-main .sections .section-2 .recent {
    margin-left: 1rem !important;
  }
  #app main .inner-main .sections .section-2 .work {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem !important;
    cursor: pointer !important;
  }
  #app main .inner-main .sections .section-2 .work p {
    width: 100% !important;
    padding: 1rem 0rem !important;
    font-size: 3rem !important;
    cursor: inherit !important;
  }
  #app main .inner-main .sections .section-2 .work .work-details {
    margin-top: 0.5rem !important;
    opacity: 1 !important;
    cursor: inherit !important;
  }
  #app main .inner-main .sections .section-3 {
    display: none;
  }
  #app main .inner-side {
    display: none;
  }
  #app footer {
    height: auto !important;
  }
  #app footer .navigation {
    display: none !important;
  }
  #app a {
    cursor: pointer !important;
  }
}
@media only screen and (min-width: 661px) and (max-width: 950px) and (min-height: 600px), (min-width: 900px) and (max-width: 1200px) and (min-height: 600px) and (max-height: 800px) {
  body {
    overflow-y: auto;
    height: 100% !important;
  }
  .mouse {
    display: none !important;
  }
  * {
    cursor: default !important;
  }
  a {
    cursor: pointer !important;
  }
  #app {
    height: auto;
    display: block;
  }
  #app .navbar,
  #app footer {
    padding: 2rem 1rem;
    height: -moz-fit-content;
    height: fit-content;
  }
  #app .inner-nav {
    width: 50% !important;
  }
  #app .date,
  #app .time {
    font-size: 1rem;
  }
  #app .mobile-date {
    display: none !important;
  }
  #app main {
    height: auto;
    width: 100%;
  }
  #app main .inner-main {
    width: 100%;
  }
  #app main .inner-main .sections {
    display: block;
  }
  #app main .inner-main .sections .section-1 {
    padding: 4rem 1rem;
  }
  #app main .inner-main .sections .section-1 .recent {
    font-size: 1rem !important;
    display: block;
  }
  #app main .inner-main .sections .section-1 .name {
    font-size: 4rem !important;
  }
  #app main .inner-main .sections .section-1 .bio {
    font-size: 1rem !important;
    width: 100%;
  }
  #app main .inner-main .sections .section-2 .recent {
    font-size: 1rem !important;
    margin-left: 1rem !important;
  }
  #app main .inner-main .sections .section-2 .work {
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 1rem !important;
    cursor: pointer !important;
  }
  #app main .inner-main .sections .section-2 .work p {
    width: 100% !important;
    font-size: 3rem !important;
    padding: 1rem 0 !important;
    cursor: inherit !important;
  }
  #app main .inner-main .sections .section-2 .work .work-details {
    margin-top: 0.5rem !important;
    opacity: 1 !important;
    font-size: 1.25rem !important;
    cursor: inherit !important;
  }
  #app main .inner-main .sections .section-2 .work-2 {
    margin: 2rem 0 !important;
  }
  #app main .inner-main .sections .section-3 {
    display: none;
  }
  #app main .inner-side {
    display: none;
  }
  #app footer .navigation {
    display: none !important;
  }
}/*# sourceMappingURL=folio.css.map */