@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@10..48,200;10..48,300;10..48,400;10..48,500;10..48,600;10..48,700;10..48,800&display=swap");

* {
  padding: 0;
  margin: 0;
  font-family: "Bricolage Grotesque", sans-serif;
  --bg-color: #000;
  font-size: 16px;
  --text-color: #fff;
  --hover-color: rgb(247, 30, 30);
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  overflow: hidden;
  height: 100%;
}

#app {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color);

  .navbar,
  footer {
    display: flex;
    align-items: center;
    padding: 1rem 4rem;
    justify-content: space-between;
    height: 10%;
    background-color: var(--bg-color);
    color: var(--text-color);

    .inner-nav,
    .inner-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 50%;
    }

    .date,
    .time {
      cursor: default;
      font-size: 0.85rem;
      font-weight: 200;
    }

    .mobile-date {
      display: none;
      font-size: 0.85rem;
      cursor: default;
      font-weight: 200;
    }
  }

  .inner-nav-2 {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

    .country {
      font-size: 0.85rem;
      color: var(--text-color);
      cursor: default;
      font-weight: 200;
    }
  }

  .navbar {
    border-bottom: solid 1px var(--text-color);
  }

  main {
    height: 80%;
    width: 100%;
    display: flex;
    background-color: var(--bg-color);

    & > * {
      color: var(--text-color);
    }

    .inner-main {
      width: 90%;
      height: 100%;
      overflow-x: auto;
      overflow-y: hidden;
      display: flex;

      .sections {
        display: flex;
        overflow: hidden;
        height: 100%;
        scroll-snap-type: x mandatory;

        &::-webkit-scrollbar {
          display: none;
        }
        section {
          display: block;
          width: 100%;
          flex-shrink: 0;
          height: 100%;
          scroll-snap-align: start;
        }

        .section-1 {
          padding: 2rem 4rem;

          .recent {
            font-size: 0.85rem;
            font-weight: 200;
            cursor: default;
            display: none;
            color: var(--hover-color);
          }

          .name {
            font-size: 8rem;
            cursor: default;
            font-weight: 700;
          }
          .hov-split {
            font-size: inherit;
            transition: linear 0.3s;

            &:hover {
              color: var(--hover-color);
            }
          }

          .role {
            font-size: 1.25rem;
            margin-bottom: 1rem;
            color: darken($color: #fff, $amount: 20);
            font-weight: 300;
          }

          .bio {
            font-weight: 200;
            width: 70%;
            font-size: 0.85rem;
          }
        }

        .section-2 {
          display: flex;
          align-items: center;

          .inner-section {
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .recent {
              margin-top: 1rem;
              margin-left: 4rem;
              font-size: 0.85rem;
              font-weight: 200;
              cursor: default;
              color: var(--hover-color);
            }

            .work {
              display: flex;
              align-items: center;
              padding: 1rem 4rem;
              text-decoration: none;

              &:hover > p {
                text-decoration: line-through;
                color: var(--hover-color);
              }

              &:hover .work-details {
                opacity: 1;
              }

              p {
                width: fit-content;
                font-size: 5rem;
                font-weight: 600;
                text-decoration: none;
                color: var(--text-color);
                flex-basis: 55%;
                transition: linear 0.3s;
              }

              .work-details {
                opacity: 0;
                font-size: 0.85rem;
                line-height: 1.5rem;
                flex-basis: 45%;
                font-weight: 200;
                transition: linear 0.3s;
                cursor: default;
                color: var(--text-color);

                .tech {
                  font-size: inherit;
                  color: var(--hover-color);
                  font-weight: inherit;
                  text-transform: uppercase;
                }
              }
            }

            .work-1,
            .work-2 {
              transition: linear 0.3s;
              border-bottom: solid 1px var(--text-color);

              &:hover {
                border-bottom: solid 1px var(--hover-color);
              }
            }
          }
        }
      }
    }

    .inner-side {
      width: 10%;
      height: 100%;
      border-left: solid 1px var(--text-color);

      .current-page {
        // transform: rotate(180deg);
        width: 100%;
        height: 100%;
        position: relative;
        overflow: hidden;

        .current-page-inner {
          height: 100%;
          overflow-y: auto;
          overflow-x: hidden;
          display: block;
          scroll-snap-type: y mandatory;

          &::-webkit-scrollbar {
            display: none;
          }

          .page-name {
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 1rem;
            height: 100%;
            width: 100%;
            // letter-spacing: 3px;
            text-decoration: line-through;
            writing-mode: vertical-rl;
            font-size: 8rem;
            scroll-snap-align: start;
            font-weight: 700;
            cursor: default;
            color: var(--text-color);

            &:hover {
              color: var(--hover-color) !important;
            }
          }
        }
      }
    }
  }

  footer {
    border-top: solid 1px var(--text-color);
    display: flex;
    justify-content: space-between;

    .inner-footer-2 {
      display: flex;
      align-items: flex-end;
      justify-content: space-between;
      height: 100%;
    }

    .inner-footer {
      height: 100%;
      display: flex;
      align-items: flex-end;
      justify-content: space-between;

      .navigation {
        display: flex;
        align-items: flex-end;
        justify-content: space-around;

        .dot-info {
          font-size: 0.75rem;
          font-weight: 200;
          cursor: default;
          color: lighten($color: #000, $amount: 65);
        }

        .dot-cont {
          margin-right: 2rem;
          display: flex;
          flex-direction: column;
          align-items: center;

          .nav-title {
            font-size: 0.85rem;
            font-weight: 200;
            margin-bottom: 0.5rem;
            transition: linear 0.3s;
            opacity: 0;
            color: var(--hover-color);
            cursor: default;
          }

          .dot {
            order: 1;
            width: 0.75rem;
            height: 0.75rem;
            border: Solid 1px var(--text-color);
            border-radius: 50%;
            cursor: pointer;
            transition: linear 0.3s;

            &:hover {
              background-color: var(--hover-color);
            }
          }

          div.active-page {
            background-color: var(--hover-color);
          }

          p.active-page {
            opacity: 1;
          }

          .dot:hover ~ .nav-title {
            opacity: 1;
          }
        }
      }
    }

    .footer-link {
      text-decoration: none;
      font-size: 0.85rem;
      font-weight: 200;
      color: var(--text-color);
      text-decoration: none;
      transition: linear 0.3s;

      &:hover {
        color: var(--hover-color);
      }
    }
  }
}

//mobile potrait and landscape
@media only screen and (max-width: 650px), (max-height: 550px) {
  html {
    height: 100% !important;
  }
  body {
    overflow-y: auto;
    height: 100% !important;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  #app {
    height: auto;
    display: block;

    .navbar,
    footer {
      padding: 2rem 1rem;
      height: auto;
    }

    .inner-nav {
      width: 60% !important;
    }

    .date,
    .time {
      font-size: 0.85rem;
    }

    .date {
      display: none !important;
    }

    .mobile-date {
      display: block !important;
    }

    main {
      height: auto;
      width: 100%;

      .inner-main {
        width: 100%;

        .sections {
          display: block;

          .section-1 {
            padding: 3rem 1rem;

            .recent {
              display: block;
            }

            .name {
              font-size: 3rem !important;
            }

            .bio {
              width: 100%;
            }
          }

          .section-2 {
            .recent {
              margin-left: 1rem !important;
            }

            .work {
              flex-direction: column;
              align-items: flex-start;
              padding: 1rem 1rem !important;

              p {
                width: 100% !important;
                font-size: 3rem !important;
              }

              .work-details {
                margin-top: 0.5rem !important;
                opacity: 1 !important;
              }
            }
          }

          .section-3 {
            display: none;
          }
        }
      }

      .inner-side {
        display: none;
      }
    }

    footer {
      height: auto !important;
      background-color: var(--bg-color) !important;

      .navigation {
        display: none !important;
      }
    }
  }
}

@media only screen and (min-width: 661px) and (max-width: 950px) and (min-height: 600px),
  (min-width: 900px) and (max-width: 1200px) and (min-height: 600px) and (max-height: 800px) {
  body {
    overflow-y: auto;
    height: 100% !important;
  }

  #app {
    height: 100% !important;
    display: block;

    .navbar,
    footer {
      padding: 2rem 1rem;
      height: fit-content;
    }

    .inner-nav {
      width: 50% !important;
    }

    .date,
    .time {
      font-size: 1rem;
    }

    .mobile-date {
      display: none !important;
    }

    main {
      height: auto;
      width: 100%;

      .inner-main {
        width: 100%;

        .sections {
          display: block;

          .section-1 {
            padding: 4rem 1rem;

            .recent {
              font-size: 1rem !important;
              display: block;
            }

            .name {
              font-size: 4rem !important;
            }

            .bio {
              font-size: 1rem !important;
              width: 100%;
            }
          }

          .section-2 {
            .recent {
              font-size: 1rem !important;
              margin-left: 1rem !important;
            }

            .work {
              flex-direction: column;
              align-items: flex-start;
              padding: 1rem 1rem !important;

              p {
                width: 100% !important;
                font-size: 3rem !important;
              }

              .work-details {
                margin-top: 0.5rem !important;
                opacity: 1 !important;
                font-size: 1.25rem !important;
              }
            }

            .work-2 {
              margin: 2rem 0 !important;
            }
          }

          .section-3 {
            display: none;
          }
        }
      }

      .inner-side {
        display: none;
      }
    }

    footer {
      // height: auto !important;

      .navigation {
        display: none !important;
      }
    }
  }
}
